astropy
numpy
opencv-python
scipy
git+https://github.com/haavee/ppgplot.git@master
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
six
spacetrack==0.13.0
termcolor
zwoasi
