astropy==3.0.1
numpy==1.14.2
opencv-python==3.4.0.12
scipy==1.0.1
git+https://github.com/cbassa/ppgplot.git@master
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
six==1.11.0
spacetrack==0.13.0
termcolor
